<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  The <a href="http://celestianfaces/">Celestianfaces</a>
  is a project to bring celestians together with <a href="http://celestianfaces.org/">a social app</a>. This
  is the starting point.
</p>
