<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://celestianfaces/help">Cellestianfaces help page</a>.
  To get help on this site, see the
  <a href="http://celestianfaces/book">Celestianfaces book</a>.
</p>