<footer class="footer">
  <small>
    <a href="http://celestinafaces.com/">Celestianfaces</a>
    by Lameed
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about_path' %></li>
      <li><%= link_to "Contact", 'contact_path' %></li>
      <li><a href="http://news.celestianfaces.com/">News</a></li>
    </ul>
  </nav>
</footer>